@page "/"

<PageTitle>Normal User View</PageTitle>

<div class="row d-flex align-content-center flex-wrap">
    <div class="col-12">
        <div class="container-fluid">
            <NormalUserView Title="Maintenance" />
        </div>
    </div>
</div>