@inherits LayoutComponentBase

<PageTitle>Mr. Maintenance</PageTitle>

<CascadingValue Value="this">
    <div class="page bg-dark">
        <main class="container-fluid">
            <article class="content text-dark px-4 rounded">
                @Body
            </article>
        </main>
    </div>
</CascadingValue>

@code{   

}