@inject NavigationManager NavigationManager


@* Toolbar/Form section *@
<div class="row">
    <div class="col-3"></div>
    <div id="background_Wrapper" class="py-2 col-6">
        @* Button section *@
        <Buttons></Buttons>>

        <div id="background" class="mb-3" ondragover="event.preventDefault();"
            ondragstart="event.dataTransfer.setData('', event.target.id);">
            <div id="section_title" class="pt-2">
                <div class="row">
                    <div class="col-12 h5 text-center">
                        <strong>@Title</strong>
                    </div>
                </div>
            </div>
            @* Form section *@
            <Form></Form>
        </div>
    </div>
    <div class="col-3"></div>
</div>

@code
{
    // The title
    [Parameter]
    public string? Title { get; set; }

}